extends includes/layout

block Content
		div.container-fluid
			div.row-fluid
				div.span12
					block searchBar
					include searchBar
			div.row-fluid
				div.span12
					block searchResult
					include searchResult
